.form-container {
    background-color: transparent; 
    width: 600px;
    margin: 0 auto;
    height: 100vh;
}
.form-title {
    // background-color: #7aa095;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    color: #ddd;
    font-weight: 400;
}

.form {
    // background-color: #7aa095;
    width: 400px;
    margin: 0 auto;
}
.form-input-container {
    width: 100%;
    height: 34px;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    height: 100%;
    padding: 0 8px;
}

.form-file-container {
    // border: 1px solid #ddd;
    margin-bottom: 20px;
}
.form-file {
    color: #bbb;
}

.form-checkbox-container {
    margin-bottom: 20px;
}
.form-checkbox {
    margin-right: 14px;
    height: 20px;
    width: 20px;
}
.form-checkbox-label {
    display: flex;
    align-items: center;
    // border: 1px solid red;
    color: #ddd;
    font-weight: 300;
}

.form-submit {
    background-color: #438444;
    box-shadow: 0 0 3px 1px rgba(0,0,0, 0.4);
    width: 100%;
    height: 34px;
    color: #eee;
    font-size: 16px;
    cursor: pointer;
}

.forgot-password-link {
    display: block;
    margin-bottom: 10px;
    color: rgb(0, 195, 255);
    font-weight: 300;
}