* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: rgb(57, 67, 79);
    background-color: rgb(57, 67, 79);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
input {
    outline: none;
    border: none;
}
button {
    border: none;
}