.top-panel {
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;    
    border-bottom: 1px solid rgb(76, 89, 105);
}
.top-panel-navigation, .top-panel-auth-block {
    display: flex;
    gap: 20px; 
}

.top-panel-link {
    display: block;
    font-size: 18px;
    color: #ccc;
    transition: 0.3s;
    &:hover {
        color: yellow;
    }
}

