* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-header {
    background-color: rgb(174, 183, 184);
    padding: 20px;
    display: flex;
    gap: 20px;
    padding: 20px;    
}


main {
    padding: 20px;    
}

.auth-link {
    display: block;
    font-size: 18px;
}
.auth-link:not(:last-child) {
    margin-bottom: 4px;
}

.mb-4 {
    margin-bottom: 4px;
}